<!DOCTYPE html>
<html>
  <head>
    <title>Notes on Rails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header class="py-10 bg-indigo-600">
      <h1 class="text-white font-bold text-5xl mb-0 px-6 lg:px-20">
        <a href="/" class="transition-colors duration-100 hover:text-gray-100">
          Notes on Rails
        </a>
      </h1>
    </header>

    <main class="mt-10 px-6 lg:px-20">
      <%= yield %>
    </main>

  </body>
</html>
